doctype html
html(lang="en")
  head
    title Home
    link(href="bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="css/style.css")
  body
    .container
      br
      .jumbotron
        h1 Hello #{name}
        button(id="login") Login
        button(id="register") Register
        button(id="logout") Logout
        
    
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='js/main.js')
