doctype html
html(lang="en")
  head
    title Home
    link(href="bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="css/style.css")
  body
    .container
      br
      .jumbotron
        h1(id="title") #{name}
        h2 Email: #{email}
        label Bio:
        h3(id="bio") #{bio}
        button(id="changeInfo") Change Info
        button(id="saveChanges" hidden) Save Changes
        button(id="logout") Logout
        
        
    
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='js/pageConfig.js')
    script(src='js/main.js')
